<div class="jumbotron">
  <div class="container">
    <h1>Nikola Tesla Web Store</h1>
    <p>welcome</p>
    <br>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">View Current Sales »</a> <a class="btn btn-primary btn-lg" href="#" role="button">Browse New Products »</a></p>
  </div>
</div>
