<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bootstrap4</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div class="jumbotron">
    	<div class="container">
    		<h1>Nikola Tesla Web Store</h1>
    		<p>welcome</p>
    		<br>
    		<p><a class="btn btn-primary btn-lg" href="#" role="button">View Current Sales »</a> <a class="btn btn-primary btn-lg" href="#" role="button">Browse New Products »</a></p>
    	</div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
